//Core
@import "core/variables";
@import "core/mixins";

.ai_btn {
    background-color: $color-main !important;
    font-size: 16px;
    transition: 0.3s ease;
    text-align: center;
    display: block;
    height: auto;
    padding: 10px 15px;
    position: relative;
    width: 100%;

    &:hover {
        background-color: $color-main-hover !important;
    }
}

.faq-ai-generate {
    margin-bottom: 20px;
}

.faq_ai_text {
    font-size: 14px;
    line-height: 1.2;
    display: block;
    margin-bottom: 10px;
}

.faq_ai_error {
    color: #d03600;
    margin: 5px 0 0;
}

._spinner {
    pointer-events: none;
    position: relative;
}

._spinner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(1px);
}

._spinner:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/preloader.gif') center / contain no-repeat;
    width: 25px;
    height: 25px;
    z-index: 100;
}

table.wp-list-table.posts {
    .subscribers_status {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.25);

        &.status_true {
            background-image: linear-gradient(90deg, #71f365 0%, #30a03c 100%);
        }

        &.status_empty {
            background-image: linear-gradient(90deg, #d6d7d6 0%, #9b9b9b 100%);
        }

        &.status_false {
            background-image: linear-gradient(90deg, #f88383 0%, #d41515 100%);
        }
    }
}

.ai-settings {
    h1 {
        font-size: 30px;
        font-weight: 700;
        color: $color-main;
    }

    h2 {
        font-size: 20px;
        color: $color-main;
        margin: 10px 0 20px;
    }

    h1, h2, h3 {
        text-align: center;

        span {
            color: $color-main;
        }
    }

    h3 {
        font-size: 18px;
        margin: 10px 0 50px;
        color: $color-font;

        span {
            font-size: 20px;
        }
    }
}

#ai-tool-btn {
    font-size: 18px;

    &.processing {
        position: relative;
        pointer-events: none;
        opacity: 0.5;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(100% + 15px);
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url('../img/preloader.gif') center / contain no-repeat;
        }
    }
}

.ai-results, .ai-error {
    margin-top: 20px;
}

.ai-results {
    a {
        font-weight: 500;
        outline: none;
        border: none;
        box-shadow: none;
    }

    p {
        margin: 0 0 5px;
        font-size: 16px;
    }
}

.ai-error {
    color: #d70000;
    font-weight: 500;
}